<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EGG</h1>
    <a href="/login/google">Login with Google</a>
    <a href="/login/github">Login with GitHub</a>

    <!-- <script>
        let user = {{ user|tojson }};
        if (Object.keys(user).length > 0) {
            console.log("Logged in as", user.login || user.email);
        } else {
            console.log("Not logged in");
        }
    </script> -->
</body>
</html>